}

html

 {
     background: url("https://www.dropbox.com/s/e9nszy4arxezsaq/1562567947662.png?dl=1");
      background-attachment:fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     }

section{
    background-color:rgba(30, 30, 30, 0.8);
    color:white;
    padding:10px;
    margin:25px;
    text-align:center;
    /*box-shadow:0px 0px 3px 1px #000;*/
}

nav{
    position:sticky;
    top:72px;
    left:0;
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
    font-size:large;
    justify-content:center;
    text-align:center;
}

header{
    background-color:#222;
    color:white;
    font-size:50px;
    text-align:center;
    position:sticky;
    top:-30px;
    padding-top:30px;
    padding-bottom:10px;
    text-shadow:-1px -1px 0px #888;
}

nav td{
    border:1px solid cyan;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
    width:1%;
    text-decoration:none;
}

/*nav td:hover{
    border-bottom:none;
    background-color:rgba(0, 0, 0, 0);
}*/

nav td:active{
    background-color:black;
}

p{
    text-align:center;
    background-color:#222;
    margin:0;
    color:white;
    font-size:large;
    padding:10px;
}

footer{
    background-color:rgba(30, 30, 30, 0.9);
    margin:0;
    margin-top:25px;
    padding:25px;
    color:white;
    font-size:small;
}

div{
    display:none;
    position:fixed;
    top:180px;
    left:60%;
    background-color:rgba(30, 30, 30, 0.8);
    box-shadow:0px 0px 10px #222;
    font-size:15px;
    margin:0;
    padding:3px;
    text-align:left;
    justify-content:center;
}

pre{
    margin:0;
}

div li:hover{
    color:cyan;
}

div pre:hover{
    color:cyan;
}

div li:active{
    color:lightgreen;
}

div pre:active{
    color:lightgreen;
}

div h1:hover{
    color:red;
}

div h1:active{
    color:red;
}

a:link {text-decoration:none;
color:white;}